{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Texas Instruments Wafer mapping</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
      </head>
      <body>
        <div class = "page-header">
          <h1><a >Texas Instruments Wafer mapping</a></h1>
        </div>
        <div class = "Buttons">
        <p>Filter</p>
        <button id="Year" type="button">Time</button>
        <button id="Month" type="button">Defects</button>
        </div>
        <div class = "box">
          <table id="myTable">
              <tr class="header">
                <th style="width:60%;">Name</th>
                <th style="width:40%;">Date</th>
                <th style="width:40%;">Defects</th>
              </tr>
              <tr>
                <td>WaferMap0</td>
                <td>01/01/2013</td>
                <td>2013</td>
              </tr>
              <tr>
                <td>WaferMap1</td>
                <td>01/02/2013</td>
                <td>203</td>
              </tr>
              <tr>
                <td>WaferMap2</td>
                <td>02/02/2013</td>
                <td>201</td>
              </tr>
              <tr>
                <td>WaferMap3</td>
                <td>01/02/2015</td>
                <td>3</td>
              </tr>
              <tr>
                <td>WaferMap4</td>
                <td>01/02/2016</td>
                <td>1</td>
              </tr>
              <tr>
                <td>WaferMap5</td>
                <td>01/03/2013</td>
                <td>9</td>
              </tr>
            </table>
        </div>
        <div id="myOutput"></div>
     <a href="/about/">Filter Month</a>
    </body>
</html>
